nav {
    display: flex;
    height: 70px;
    background-color: #FFFFFF;
    justify-content: space-between;
    padding: 20px 20px 20px 10px;
    box-shadow: 0px 0px 15px 1px #dbdada;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 40;
}

nav .left {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

nav .left img {
    height: 60px;
    width: 100px;
    object-fit: contain;
}

nav .left ul {
    display: flex;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;

}

nav ul li {
    font-weight: 600;
    cursor: pointer;
}

nav ul li:hover {
    color: #4791f1;
}

nav .active {
    color: #1e76e9;
    text-decoration: underline;

}

nav .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .right button {
    padding: 12px;
    margin: 0px 10px;
    border: none;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s ease-in-out;
}

nav .right>:nth-child(1) {
    border: 1px solid #444;
    background-color: white;
}

nav .right>:nth-child(1):hover {
    background-color: black;
    border: 1px solid white;
    color: white;
}

nav .right>:nth-child(2):hover {
    background-color: white;
    color: black;
    border: 1px solid black;

}

nav .right>:nth-child(2) {
    background-color: black;
    color: white;
    border: 1px solid white;
}


nav .user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav .user-profile img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;


}

nav .user-profile .right-user {
    display: flex;
    flex-direction: column;

}

nav .options {
    position: absolute;
    right: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px 0px #bbb9b9;
    padding: 10px;
    border-radius: 10px;

}

nav .options button {
    padding: 10px 15px;
    margin: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width:500px) {
    nav .left img {
        height: 60px;
        width: 60px;

    }
    nav .right button{
        font-size: 12px;
    }
    nav ul li{
        font-size: 12px;
    }
}
