.signup{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    background-color: aliceblue;
    z-index: 200;
    top: 0;
}

.signup .inner{
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 5px 10px 0px #a3a3a3;
    padding: 20px;
    border-radius: 2px;
    width: 300px;
    align-items: center;
    background-color: #FFFFFF;

}

.signup .inner form{
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
    
}

.signup .inner  h1{
    text-align: center;

}

.signup .inner form input{
    padding: 10px ;
    border: 1px solid #b6b1b1;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px #b6b1b1;
    

}

.signup .inner form input:focus{
    outline: none;
    box-shadow: 0px 0px 2px 0px #1877F2;
    border: 1px solid #1877F2;
}

.signup .inner form button{
    padding: 10px;
    margin: 10px 0px;
    background-color:#1877F2 ;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: 0.2s ease-in-out;

}
.signup .inner form button:hover{
    transform: scale(1.009);
    background-color: #1271ee;
}


.signup .inner .cross{
    margin: -20px 0px -30px 0px;
    
    text-align: left;
    position: relative;
    font-size: 30px;
    right: -130px;
    font-weight: 700;
    cursor: pointer;
}